@import "~antd/dist/antd.css";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

#neonText {
	animation: flicker 1.6s infinite alternate;
	line-height: 0;
	height: 50%;
	width: 16%;
	font-size: 27px;
	color: #fff;
	border: 0.3rem solid #fff;
	padding: 0.7em;
	border-radius: 0.7rem;
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #fff, 0 0 0.8rem #fff,
		0 0 2.8rem #fff, inset 0 0 1.3rem #fff;
}

/* Flickering animation */
@keyframes flicker {
	0%,
	18%,
	22%,
	25%,
	53%,
	57%,
	100% {
		text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #fff,
			0 0 80px #fff, 0 0 90px #fff, 0 0 100px #fff, 0 0 150px #fff;
	}

	20%,
	24%,
	55% {
		text-shadow: none;
	}
}
.ant-layout-sider {
	background: none !important;
}
.element-style {
	padding: 10px;
	z-index: 10;
}
.ant-layout-footer {
	padding: 0%;
	font-style: italic;
	bottom: 0%;
}
